




<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Eat Some Burger!</h1>
    </div>
    <div class="row">
        {{#each burgers}}
          {{#unless this.devoured}}
        <div class="col-md-4 well text-left">
          <button class="btn btn-warning btn-md">{{this.id}}. {{this.burger_name}}</button>
        </div>
         <div class="col-md-4 well text-center" >
          <form action="/api/update" method="POST">
                <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                <button type="submit" name="burger_id" class="btn btn-danger btn-md">Devour It!!!</button>
          </form>
        </div>
         {{/unless}}
        {{/each}}
        <div class="col-md-4 well text-right">
          {{#each burgers}}
            {{#if this.devoured}}
                <ul>
                <li><button class="btn btn-success btn-md">{{this.id}}. {{this.burger_name}}</button></li>
                </ul>
            {{/if}}
          {{/each}}
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center enter_section">
          <form action="/api/create" method="POST">
            <input type="text" name="burger_name" class="form-control" placeholder="Enter burger name ----!">
            <br>
            <button type="submit" class="btn btn-lg btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
</div>
